.mypy_cache

.ai-secretary
!.ai-secretary/.gitkeep

.amem/

node_modules/
.pnpm-store/

.playwright-cli/
__pycache__/

.env
.cc-state
.cc-state*

.config/
.cookie/
.cookies/
.secret/
.secrets/

private/
reports/
repos/
tmp/
Trash/
nippo/

node_modules/

remotion-*
